doctype html
html
  head
    meta(charset="UTF-8")
    title Karim Hammadi's Portfolio
    link(rel="stylesheet", href="style.css")
  body
    .section Section 1
    .section Section 2
    .section Section 3