doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Karim Hammadi's Portfolio
        link(rel="stylesheet", href="style.css")
    body
        section
            div 
                h1 I LOVE YOU
        section
            div 
        section
            div 
        