body{
  background-color: #171d21;
}


#ma {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  overflow: auto;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

#audio-container {
  text-align: center;
  margin: 10px;
  padding: 1rem;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
