body{
  background-color: #171d21;
}


#ma {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  overflow: auto;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

#audio-container {
  height: 200px;
  width: 100%;
  background-color: #171d21;
  font-size: 10pt;
}
