#ma {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

#audio-container {
  height: 200px;
  width: 200px;
  background-color: #0071FF;
  font-size: 10pt;
}
