body{
  background-color: #171d21;
}


#grid-container {
  display: grid;
  grid-auto-columns: 0.3vw;
  grid-auto-rows: auto;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  overflow: auto;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
}

#audio-container {
  text-align: center;
  margin: 10px;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

audio {
  overflow: auto;
}